body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Oxygen",
  "Ubuntu",
  "Cantarell",
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.commentPanel{
  display: inline-block;
  position: fixed;
}

.chatbox {
  position: fixed;
  bottom: 0;
  /* left: 0; */
  width: 100%;
  display: flex;
  /* box-sizing: border-box; */
  padding: 0.8rem;
}
.chatbox input {
  /* border: 0; */
  width: 60%;
  border:1px solid #dadada;
  /* border-radius:7px; */
  font-size:15px;
  margin-left: 0.8rem;
  /* outline: 0; */
  margin-right: 0.8rem;
  border-radius: 0.25rem;
}

.dropdown {
  margin-left: 0.8rem;
  width: 25%;
}

.chatbox input:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.messages {
  margin: 0;
  padding: 0;
  margin-bottom: 3rem;
}
.messages li {
  padding: 0.5rem;
}
.messages li:nth-child(odd) {
  background: #eee;
}

.addChatRoom{
  display: inline-block;
  position: relative;
  /* vertical-align: top; */
  margin: auto;
  top: 50%;
  transform: translateY(50%);
  /* width: 10rem; */
  float: right;
  padding: 0.2rem;
}

.chatTitle{
  display: inline-block;
}

.comment_form{
  position: relative;
}

.comment_form button{
  background-color: #1b8c00;
  margin-top: 1rem;
}

.commentPanel{
  display: inline-block;
  position: fixed;
}

.commentText{
  height:300px;
  width: 400px;
}

.pdfButton{
  background-color:orange; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100px;
  border-radius: 8px;
  border: 1px solid black;
  font-family: Times, TimesNR, 'New Century Schoolbook',Georgia, 'New York', serif;
  font-style:oblique;
  box-shadow: 0 9px #999;
}
.react_fragment{
  background-color: darkgray
}

.pdfSubmitButton{
  background-color:orange; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100px;
  border-radius: 8px;
  border: 1px solid black;
  font-family: Times, TimesNR, 'New Century Schoolbook',Georgia, 'New York', serif;
  font-style:oblique;
  box-shadow: 0 9px #999;
}
.pdfPagetext{
  font-family: Times, TimesNR, 'New Century Schoolbook',Georgia, 'New York', serif;
  font-style:oblique;
  font-weight:bold;
  font-size:24px;
}

.nav-group{
  margin-bottom: 1rem;
}

.messagesList{
  overflow: auto;
  height: calc(77vh - 20px);
}

.chatRoom{
  position: relative;
}

.sign-in{
  margin: 2rem
}

.btn.btn-large.btn-default{
  margin-right: .8rem
}

.btn.btn-large.btn-primary{
  margin-right: .8rem
}

.chatTitle{
  margin: 0.2rem
}

.chat-header{
  overflow: hidden;
  padding-left: .2em;
  padding-right: .2em;
}

.chatInput{
  float: left;
}

.welcome-page{
margin: 2rem
}

.pw-forget{
  margin: 1rem;
  margin-top: 2rem;
}

.pw-forget-link{
  color: red; 
  text-decoration: none; 
  cursor: pointer;
}

.pane{
  padding: 1rem; 
  margin:  2.5rem;
}

.pane-group{
  margin: 2.5rem;
}

.pane.pane-one-fourth.sidebar{
  padding: 1rem; 
  margin: 2.5rem; 
  width: auto;
}

.sign-up{
  margin: 2rem;
}

.sign-up-form{
  margin: 1rem;
}

.btn.btn-large.btn-negative{
  margin-top:0.8rem;
}

.btn.btn-large.btn-positive{
  margin-right:0.8rem;
  margin-top:0.8rem;
}

.sign-up-link{
  margin: 1rem; 
  margin-top: 2rem;
}

.sign-up-noacc{
  color: #1073f3;
   text-decoration: none;
   cursor: pointer;
}

.toolbar.toolbar-header{
  pointer-events: auto;
}

.btn.btn-success{
  margin-right: .5rem;
}

.accountTitle{
  text-align: center;
}

.passwordForm{
  margin: 1rem
}

.password{
  margin-right: 1rem
}

.passwordFromDiv{
  display: block;
  text-align: center;
}

.btn.btn-default.signoutBtn{
  position: absolute;
  right: 10px;
}

